.league-result-container{
    display: flex;
    justify-content: center;
}

.league-result-wrapper{
    width: 90%;
    height: 785px;
}

.league-result-title-box{
    width: 100%;
    height: 40px;

    font-family: 'bitbit';
    font-size: 64px;
    text-shadow: -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff, 2px 2px 0 #fff;

    text-align: center;

    margin-top: 1%;
    margin-bottom: 2%;
}

.league-result-score-graph-box{
    width: 89.4%;
    height: 340px;

    background-color: #fff;
    border: 5px #D4C5DC solid;

    margin: 1% auto;
}

.league-result-bottom-box{
    width: 90%;
    height: 300px;

    display: flex;
        
    margin: 0 auto;
}

.league-result-team-box{
    width: 40%;
    height: 300px;

    background-color: #fff;
    border: 5px #D4C5DC solid;

    margin-right: 1%;
    overflow-y: auto;
}

.league-result-team-graph-box{
    width: 60%;
    height: 300px;

    background-color: #fff;
    border: 5px #D4C5DC solid;

}


.league-result-table{
    width: 100%;
    min-height: 300px;

    overflow-y: auto;
}

.league-result-table-rank{
    width: 10%;
}

.league-result-table-name{
    width: 70%;
}

.league-result-table-thead{
    background-color: #CCD2F0;
}

.league-result-table-tbody > tr > td{
    text-align: center;
    border: #CCD2F0 1px solid;
}

.highlighted-row{
    background-color: #ffcccb;
    font-weight: bolder;
  }