/*font*/
@font-face{
    font-family:'bitbit';
    src:url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff'),url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff2') ;
 }

 @font-face {
    font-family: 'DungGeunMo-Regular';
    src: url('https://cdn.jsdelivr.net/gh/wooin21/web/fonts/etc/DungGeunMo-Regular.woff');
    font-weight: normal;
    font-style: normal;
}

.admin-main-board-container {
    display: flex;
    height: 787px;
}

.admin-main-board-left {
    background-color: #8185B9;
    border-right: 3px solid #ffffff;

    width: 20%;
    height: 787px;

    display: flex;
}

.admin-main-board-menu_contents {
    width: 100%;
    height: 787px;

    background-image: url(../img/admin_page.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;

}

.admin-main-board-question-button {
    width: 300px;
    height: 100px;

    background-image: url(../img/community_001.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    text-align: center;
    cursor: pointer;

    margin-left: 10%;
}

.admin-main-board-question-button > h1{
    font-family: 'DungGeunMo-Regular';
    font-size: 32px;

    line-height: 90px;
}

.admin-main-board-team-button{
    width: 300px;
    height: 100px;

    background-image: url(../img/community_002.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    margin-left: 10%;

    text-align: center;
    cursor: pointer;
}

.admin-main-board-team-button > h1{
    font-family: 'DungGeunMo-Regular';
    font-size: 32px;

    line-height: 90px;
}
.admin-main-board-league-button {
    width: 300px;
    height: 100px;

    background-image: url(../img/community_003.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    text-align: center;
    cursor: pointer;

    margin-left: 10%;
}

.admin-main-board-league-button > h1{
    font-family: 'DungGeunMo-Regular';
    font-size: 32px;

    line-height: 90px;
}

.admin-main-board-right {
    width: 80%;
    height: 787px;
}