/*font*/
@font-face{
    font-family:'bitbit';
    src:url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff'),url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff2') ;
 }

 @font-face {
    font-family: 'DungGeunMo-Regular';
    src: url('https://cdn.jsdelivr.net/gh/wooin21/web/fonts/etc/DungGeunMo-Regular.woff');
    font-weight: normal;
    font-style: normal;
}

.admin-question-board-wrapper{
    padding: 20px;
}

.admin-question-board-rightMain{
    margin: 20px auto;
    
    font-family: 'DungGeunMo-Regular';
    font-size: 45px;

    color: #ffffff;

    text-align: center;
}

.admin-question-board-topBar{
    display: flex;
    justify-content: flex-end;

    margin-top: 40px;
    margin-bottom: 20px;
}

.admin-question-accordion-header {
    width: 170px;
    height: 45px;

    background-color: #A8A9CF;
    border: 3px solid #fff;

    display: flex;

    justify-content: center;
    align-items: center;

    cursor: pointer;
}
  
.ctf-question-accordion-content {
    position:absolute;
    width: 170px;
    
    border-left: 3px solid #fff;
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
    background-color: #A8A9CF;

    cursor: pointer;
}

.ctf-question-board-search-order-text {
    text-decoration: none;
    display: block;

    font-family: 'DungGeunMo-Regular';
    font-size: 20px;

    height: 45px;
    text-align: center;
    line-height: 45px;
}

.ctf-question-board-search-order-icon{
    text-decoration: none;
    margin-left: 20px;
}

.admin-question-board-create-question{
    width: 150px;
    height: 45px;

    background-color: #A8A9CF;
    border: 3px solid #fff;

    font-family: 'DungGeunMo-Regular';
    font-size: 20px;

    text-align: center;
    line-height: 45px;

    margin-left: 10px;
    margin-right: 88px;

    cursor: pointer;
}

/* table */
.admin-question-board-table{
    width: 100%;
    height: 500px;

    margin-bottom: 30px;
}

.admin-question-table{
    width: 95%;
    border-spacing: 0px;

    font-size: 20px;
    font-family: 'DungGeunMo-Regular';

    margin-left: 4.8%;
}

.admin-question-table>thead>tr{
    height: 40px;
}

.admin-question-table>tbody>tr{
    height: 45px;
}

.admin-question-table-number{
    width: 7%;

    background-color: #A8A9CF;
    border: #CCD2F0 1px solid;
}

.admin-question-table-name{
    width: 45%;

    background-color: #A8A9CF;
    border: #CCD2F0 1px solid;
}

.admin-question-table-score{
    background-color: #A8A9CF;
    border: #CCD2F0 1px solid;
}

.admin-question-table-category{
    background-color: #A8A9CF;
    border: #CCD2F0 1px solid;
}

.admin-question-table-modify{
    width: 3%;
    border: none;
}

.admin-question-table-delete{
    width: 3%;
    border: none;
}

.admin-question-paging{
    text-align: center;
    color: #fff;
    font-family: 'DungGeunMo-Regular';
}

.admin-question-table-modify-img{
    margin-left: 7px;

    width: 30px;
    height: 30px;

    background-image: url('../../public/images/modify.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.admin-question-table-delete-img{
    margin-left: 7px;
    
    width: 30px;
    height: 30px;

    background-image: url('../../public/images/delete.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.question-number{
    background-color: #fff;
    border: 1px solid #CCD2F0;
}

.question-name{
    background-color: #fff;
    border: 1px solid #CCD2F0;
}

.question-score{
    background-color: #fff;
    border: 1px solid #CCD2F0;
}

.question-category{
    background-color: #fff;
    border: 1px solid #CCD2F0;
}

tbody>tr>.admin-question-table-modify{
    cursor: pointer;
}

tbody>tr>.admin-question-table-delete{
    cursor: pointer;
}
