/*font*/
@font-face{
    font-family:'bitbit';
    src:url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff'),url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff2') ;
 }

 @font-face {
    font-family: 'DungGeunMo-Regular';
    src: url('https://cdn.jsdelivr.net/gh/wooin21/web/fonts/etc/DungGeunMo-Regular.woff');
    font-weight: normal;
    font-style: normal;
}

/*container*/
.board-detail-total-container{
    display: flex;
    justify-content: center;
}

.board-detail-total-wrapper{
    width: 90%;
    height: 785;

    display: flex;
    justify-content: center;
}

.board-detail-background{
    width: 90%;
    height: 785px;

    background-color: #fff;

    overflow-y: scroll;
}

/*코딩뱃지, 게시판 카테고리, 작성자 이름*/
.board-detail-upper-part{
    margin-top: 2%;
    margin-bottom: 1%;
    margin-left: 2%;
    margin-right: 2%;

    padding: 10px;

    display: flex;

    border: solid 3px #9d9dc8;
    background-color: #e9e8fc;
}

.board-detail-user-badge{
    width: 100px;
    height: 100px;

    border-radius: 50%;
    border: solid 1px #9d9dc8;

    background-color: black;
    /*이미지 들어가야 함*/

    background-image: url('../../public/images/grade_01.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.board-detail-info-wrapper{
    margin-left: 2%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.board-detail-category{
    display: block;

    font-family: 'DungGeunMo-Regular';
    font-size: 26px;
    font-weight: bold;
}

.board-detail-writer{
    display: block;

    font-family: 'DungGeunMo-Regular';
    font-size: 26px;
    font-weight: bold;
}

.board-detail-middle-part{
    margin-top: 2%;
    margin-bottom: 1%;
    margin-left: 2%;
    margin-right: 2%;

    padding:10px;

    display: flex;
    flex-direction: column;

    border-bottom: 2px solid #CACACA;
}

.board-detail-title-box{
    width: 100%;
    padding-bottom: 5px;

    font-size: 32px;
    font-weight: bold;

    border-bottom: 2px solid #CACACA;
}

.board-detail-contents-box{
    margin-top: 30px;
}

.board-detail-contents-box p {
    line-height: 1.75;
}

.board-detail-bottom-part{
    margin-top: 2%;
    margin-bottom: 1%;
    margin-left: 2%;
    margin-right: 2%;
}

.board-detail-comment-table{
    width: 100%;

    border: #9d9dc8 1px solid;
    font-family: 'DungGeunMo-Regular';
}

.board-detail-comment-table-thead{
    font-size: 18px;
    font-weight: bolder;

    height: 30px;
}

.board-detail-comment-table-tbody > tr > td{
    height: 20px;
    overflow-y: auto;
    overflow-wrap: break-word;
}

.comment-writer{
    width: 10%;
    border: 1px solid #CCD2F0;
}

.comment-contents{
    width: 60%;
    border: 1px solid #CCD2F0;
}

.comment-contents textarea{
    width: 98%;
    resize: none;
}

.comment-date{
    width: 16%;
    border: 1px solid #CCD2F0;

    text-align: center;
}

.comment-modify{
    cursor: pointer;
    border: 1px solid #CCD2F0;

    text-align: center;
}

.comment-modify button{
    cursor: pointer;
    background-color: transparent;
    border: transparent;

    text-align: center;
    font-family: 'DungGeunMo-Regular';
    font-size: 15px;

    width:48px;
    height: 17px;
}

.comment-delete{
    cursor: pointer;
    border: 1px solid #CCD2F0;

    text-align: center;
}

.comment-delete button{
    cursor: pointer;
    background-color: transparent;
    border: transparent;

    text-align: center;
    font-family: 'DungGeunMo-Regular';
    font-size: 15px;

    width:48px;
    height: 17px;
}

.board-detail-comment-table-tbody > tr > .comment-modify> button:hover{
    color: #ffffff;
    background-color: #9d9dc8;
    font-weight: 800;
}

.board-detail-comment-table-tbody > tr > .comment-delete> button:hover{
    color: #ffffff;
    background-color: #9d9dc8;
    font-weight: 800;
}

.board-detail-comment-input-wrapper{
    margin-bottom: 1%;
}

.board-detail-comment-input{
    width: 94%;
    height: 30px;

    margin-right: 1%;

    vertical-align: top;

    font-size: 18px;
}

.board-detail-comment-input-button{
    width: 4.4%;
    height: 36px;

    font-size: 18px;
    font-weight: 500;
    font-family: 'DungGeunMo-Regular';

    color: #000000;
    background-color: #ffffff;
    border: 2px solid #9d9dc8;

    cursor: pointer;
}

.board-detail-comment-input-button:hover{
    font-weight: 600;

    color: #ffffff;
    background-color: #9d9dc8;
    border: 2px solid #9d9dc8;

    cursor: pointer;
}

/*Menu*/
.board-detail-menu-box{
    margin-left: 2%;

    width: 60%;
    height: auto;

    display: flex;
}

.board-detail-menu-box-heart-box{
    border: #959595 1px solid;
    width: 9%;
    height: 26px;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
}

.board-detail-menu-box-heart-img{
    width: 40%;
    height: 26px;

    background-image: url('../../public/images/hart.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
}

.board-detail-menu-box-heart-count{
    width: 40.5%;
    height: 26px;
}

.board-detail-menu-box-comment-img{
    border: #959595 1px solid;
    border-right: none;

    width: 4%;
    height: 26px;

    background-image: url('../../public/images/comment.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.board-detail-menu-box-comment-count{
    border: #959595 1px solid;
    border-left: none;

    width: 4.5%;
    height: 26px;

    text-align: center;
}

.board-detail-menu-box-write-date{
    border: #959595 1px solid;
    width: 15%;
    height: 26px;

    text-align: center;
}

.board-detail-menu-box-menu{
    margin-left: 2%;

    width: 6%;
    height: 26px;

    text-align: center;
    border: #959595 1px solid;

    position: relative;
    cursor: pointer;
}

.board-detail-menu-dropdown {
    position: absolute;
    background-color: #fff;
    z-index: 1;
    top: -57px; /* 메뉴 옵션을 메뉴 위로 위치시키기 위한 값 */
    left: -1px;
  }
  
  .menu-option {
    width: 35px;
    height: 6px;

    padding: 10px;
    cursor: pointer;
    border: #959595 1px solid;

    line-height: 5px;
  }
  
  .menu-option:hover {
    background-color: #FEEBB6;
  }

  #menuDropdown a:visited{
    text-decoration: none;
    color: #000000;
  }

  #menuDropdown a{
    text-decoration: none;
    color: #000000;
  }