/*font*/
@font-face{
    font-family:'bitbit';
    src:url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff'),url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff2') ;
 }

 @font-face {
    font-family: 'DungGeunMo-Regular';
    src: url('https://cdn.jsdelivr.net/gh/wooin21/web/fonts/etc/DungGeunMo-Regular.woff');
    font-weight: normal;
    font-style: normal;
}

.enroll-question-popup-container{
    overflow-y: scroll;

    width: 90%;
    min-height: 745px;

    background-color: #60679D;
    border: 5px solid #ffffff;

    position: fixed;
    bottom:80px;

    padding: 15px;
}

.enroll-question-popup-title-box{
    margin-bottom: 20px;
    text-align: center;
}

.enroll-question-popup-title{
    font-family: 'bitbit';
    font-size: 50px;

    text-shadow: -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff, 2px 2px 0 #fff;
}

.enroll-question-popup-cancel{
    float: right;

    width: 30px;
    height: 30px;

    background-image: url(../img/cancel_btn.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;

    cursor: pointer;
}

.enroll-question-popup-contents-box{
    margin-top: 15px;
    margin-bottom: 15px;
}

/*title*/
.enroll-question-popup-contents-title-box{
    margin: 15px 0;
}

.enroll-question-popup-contents-title{
    font-family: 'DungGeunMo-Regular';
    font-size: 22px;
    color: #ffffff;

    margin-right: 15px;
}

.enroll-question-popup-contents-title-input{
    width: 96%;
    height: 22px;

    font-size: 22px;
}

/*description*/
.enroll-question-popup-contents-description-box{
    margin: 15px 0;
}

.enroll-question-popup-contents-description{
    font-family: 'DungGeunMo-Regular';
    font-size: 22px;
    color: #ffffff;

    margin-right: 15px;
}

.enroll-question-popup-contents-description-input{
    width: 89.5%;
    height: 22px;

    font-size: 22px;
}

/*category*/
.enroll-question-popup-contents-category-box-wrapper{
    margin: 15px 0;
    width: 100%;
    display: flex;
}

.enroll-question-popup-contents-level{
    font-family: 'DungGeunMo-Regular';
    font-size: 22px;
    color: #ffffff;

    margin-right: 15px;
}
.enroll-question-popup-contents-level-box{
    font-family: 'DungGeunMo-Regular';
    font-size: 22px;
    color: #ffffff;

    margin-right: 10px;
}

.enroll-question-popup-contents-category-box{
    font-family: 'DungGeunMo-Regular';
    font-size: 22px;
    color: #ffffff;

    margin:0 15px;
}

.enroll-question-popup-contents-level-box select{
    width: 50px;
    height: 22px;

    vertical-align: middle;

    border-radius: 5px;

    font-family: 'DungGeunMo-Regular';
    font-size: 18px;
}

.enroll-question-popup-contents-category-box select{
    width: 200px;
    height: 22px;

    vertical-align: middle;

    border-radius: 5px;

    font-family: 'DungGeunMo-Regular';
    font-size: 18px;
}

.enroll-question-popup-contents-category{
    margin-right: 15px;
}

/*question*/
.enroll-question-popup-contents-question-box{
    margin-top: 30px;
}

.enroll-question-popup-contents-question{
    font-family: 'DungGeunMo-Regular';
    font-size: 22px;
    color: #ffffff;

    margin-right: 470px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.enroll-question-popup-contents-testcase{
    font-family: 'DungGeunMo-Regular';
    font-size: 22px;
    color: #ffffff;

    margin-right: 385px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.enroll-question-popup-contents-input-testcase{
    font-family: 'DungGeunMo-Regular';
    font-size: 22px;
    color: #ffffff;
}

.enroll-question-popup-yes{
    width: 150px;
    height: 50px;

    background-image: url(../img/community_003.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    margin-left: 47%;
    margin-bottom: 10px;
    margin-top: 15px;

    text-align: center;
    font-family: 'DungGeunMo-Regular';
    font-size: 22px;
    line-height: 45px;

    cursor: pointer;
}

.enroll-question-text-area-wrap{
    display: flex;
    align-items: flex-end;

    margin-top: 20px;
}

.enroll-question-popup-contents-text-box{
    width: 34.25%;
    height: 360px;

    background-color: #ffffff;
    margin-right: 1%;

    vertical-align: top;

    resize: none;
}

.enroll-question-popup-contents-testcase-box{
    width: 34.25%;
    height: 360px;
    background-color: #ffffff;
    margin-right: 1%;
    vertical-align: top;
    resize: none;
}

.enroll-question-test-case{
    width: 30%;
    height: 366px;

    background-color: #ffffff;

    vertical-align: top;
}

.enroll-question-test-case-title{
    font-family: 'DungGeunMo-Regular';
    font-size: 24px;
    text-align: center;
}

.enroll-question-test-case-table{
    margin-top: 10px;
    margin-left: 1%;
    width: 98%;
    border: #CCD2F0 1px solid;
}

.enroll-question-test-case-table >tbody> tr{
    height: 100px;
}


.enroll-question-test-case-table >tbody>tr>.enroll-question-test-case-input{
    border: #CCD2F0 1px solid;
    height: 100px;
}

.enroll-question-test-case-table >tbody>tr>.enroll-question-test-case-result{
    border: #CCD2F0 1px solid;
    height: 100px;
}

.enroll-question-test-case-tbody>tr>td>textarea{
    border: none;
    resize: none;

    width: 99%;
    height: 99%;
}

.enroll-question-popup-contents-file-input{
    margin-top: 10px;
}