/*font*/
@font-face{
    font-family:'bitbit';
    src:url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff'),url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff2') ;
 }
 @font-face {
    font-family: 'DungGeunMo-Regular';
    src: url('https://cdn.jsdelivr.net/gh/wooin21/web/fonts/etc/DungGeunMo-Regular.woff');
    font-weight: normal;
    font-style: normal;
}

section{
    height: 100%;
}

.main_page_container{
    width: 80%;
    height: auto;
    margin: 0 auto; 
}

.main_page_wrapper{
    width: 100%;
    height: 785px;
    margin: 0 auto;

    display: flex;
    justify-content: center;
}

/*left content*/
.main_page_left{
    width: 40%;
    margin-right: 60px;
}

.main_page_contents1{
    width: 100%;
    height: 675px;

    margin-top: 50px;
    background-color: #ffffff;

    padding:10px;
}

.main-page-contents1-title-box{
    padding:20px;
    background-color: #CCD2F0;
    text-align: center;

    margin-bottom: 13px;
}

.main-page-contents1-font{
    font-family: 'DungGeunMo-Regular';
    font-size: 24px;
    font-weight: bold;
}

.mainPage-post-box{
    width: 99.4%;
    height: 75px;

    border:#CCD2F0 2px solid;

    margin-top: 7px;
}

.mainPage-post-name{
    margin-top: 30px;
    margin-left: 15px;

    font-family: 'DungGeunMo-Regular';
}

.mainPage-post-detail{
    display: flex;
    margin-right: 15px;
    justify-content: end;

    vertical-align: top;

    font-family: 'DungGeunMo-Regular';
}

/*like*/
.mainPage-post-like-wrapper{
    margin-right: 15px;

    display: flex;
}

.mainPage-post-like-img{
    width: 15px;
    height: 15px;

    background-image: url(../../public/images/hart.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90% 90%;
}

.mainPage-post-comment-wrapper{
    margin-right: 15px;
    display: flex;

}

.mainPage-post-comment-img{
    width: 15px;
    height: 15px;

    background-image: url(../../public/images/comment.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 160% 160%;

    margin-right: 5px;
}


/*right content*/
.main_page_right{
    width: 50%;
}

.main_page_contents2{
    width: 100%;
    height: 310px;

    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #ffffff;

    padding:10px;
}

.main_page_contents3{
    width: 100%;
    height: 295px;

    background-color: #ffffff;

    padding:10px;
}

.main-page-contents2-title-box{
    padding:10px;
    background-color: #CCD2F0;
    text-align: center;
}

.main-page-contents2-font{
    font-family: 'DungGeunMo-Regular';
    font-size: 24px;
    font-weight: bold;
}

.main-page-contents2-table{
    width: 100%;
    height: 230px;
    margin-top: 15px;
    border: 1px solid #CCD2F0 ;
    border-spacing :0;
    font-family: 'DungGeunMo-Regular';
    text-align: center;
}

.main-page-contents2-table td,th{
    border: 1px solid #CCD2F0 ;
}

.main-page-contents2-table th{
    font-family: 'DungGeunMo-Regular';
    font-size: 16px;
    padding:5px
}

.main-page-contents3-title-box{
    padding:10px;
    background-color: #CCD2F0;
    text-align: center;
}

.main-page-contents3-font{
    font-family: 'DungGeunMo-Regular';
    font-size: 24px;
    font-weight: bold;
}

.main-page-contents3-img{
    margin-top: 20px;
    margin-left: 32%;
    width: 35%;
    height: 200px;

    background-image: url('../../public/images/ctf_none.png');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 90% 90%;
}

.main-page-content3-wrap{
    display: flex;
    justify-content: center;
    text-align: center;
    
    font-family: 'DungGeunMo-Regular';
    font-size: 24px;
    font-weight: bold;

    margin: 30px auto;
}